<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<div>
    <h2>Login</h2>
    <form th:action="@{/login}" method="post">
        <input type="email" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="Password" required />
        <button type="submit">Login</button>
    </form>

    <p th:if="${error}" th:text="${error}" style="color: red;"></p>
</div>
</body>
</html>
